* {
    font-family: 'Open Sans';
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
select {
    max-width: 100%;
}
h1 {
    font-family: 'Open Sans Condensed';
}
.final-canvas {
    display: block;
    max-width: 100%;
    margin: 20px auto 0;
}
.hide {
    display: none;
}
.form-cont,
.first-select {
    display: flex;
}
.first-select label {
    margin-right: 10px;
}
.form-cont label {
    flex: 0 0 110px;
}
.form-cont input,
.first-select .cat-select {
    flex: 1 0 auto;
}
.second-select select,
.second-select {
    width: 100%;
}
input.submit {
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    background-color: #f18f2a;
    border: none;
    color: white;
    border-radius: 5px;
}